body{
            font-family: 'Inter', sans-serif;
}
#result-container {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.suggestions-container {
    position: absolute;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-top: none;
    z-index: 10;
    width: calc(100% - 2rem); /* Match parent padding */
    max-height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.suggestion-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f1f5f9;
}